<h3>Update Machine</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group" *ngIf="machine">
      <label for="name">manufacturer</label>
      <input type="text" class="form-control" id="manufacturer" required [(ngModel)]="machine.manufacturer" name="manufacturer">
    </div>

    <div class="form-group" *ngIf="machine">
      <label for="name">Details</label>
      <input type="text" class="form-control" id="details" required [(ngModel)]="machine.details" name="details">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>